.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42a948;
}
.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442; /* red */
}
.eye-icon {
  vertical-align: middle;
  width: 28px;
  height: 28px;
}
