<div class="container-landing">
  <h2>Destacados</h2>

  <div id="registroExitoso" style="display: none" class="alert alert-success">
    Registro Exitoso
  </div>

  <div class="books-wrapper">
    <div class="book-card" *ngFor="let book of books">
      <h5 class="card-title">
        <span class="libro-gris">{{ book.id_Author?.name }}<br />{{ book.title }}</span>
      </h5>
      <a href="#"><img src= "{{ book.image }}" /></a>
      <div class="card-body">
        <p class="card-text">{{ book.description }}</p>
        <h5>
          <span class="precio-gris">Precio:</span>
          <span class="precio">{{ book.price }}</span>
        </h5>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" (click)="addCartItem(book)">Añadir a Carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
