<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <div class="brand-logo">
        <img src="assets/images/logo.png" alt="Libroteka Logo" class="footer-logo" />
      </div>
      <h2>Libroteka</h2>
      <p>Tu destino ideal para descubrir los mejores libros. Ofrecemos una amplia selección de géneros para todos los lectores.</p>
      <div class="social-icons">
        <a href="#"><img src="assets/icons/facebook.svg" alt="Facebook" /></a>
        <a href="#"><img src="assets/icons/twitter.svg" alt="Twitter" /></a>
        <a href="#"><img src="assets/icons/whatsapp.svg" alt="WhatsApp" /></a>
        <a href="#"><img src="assets/icons/instagram.svg" alt="Instagram" /></a>
      </div>
      <div>
        <a href="https://github.com/ISPC-TSDW/libroteka-mobile"><h5>Descargá nuestra APP</h5></a>
      </div>
    </div>

    <div class="footer-links">
      <div>
        <h3>Categorías</h3>
        <ul>
          <li>Ficción</li>
          <li>No Ficción</li>
          <li>Ciencia Ficción</li>
          <li>Romance</li>
          <li>Misterio</li>
        </ul>
      </div>
      <div>
        <h3>Ayuda & Soporte</h3>
        <ul>
          <li>Preguntas Frecuentes</li>
          <li>Envíos</li>
          <li>Devoluciones</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div>
        <h3>Información</h3>
        <ul>
          <li>Sobre Nosotros</li>
          <li>Política de Privacidad</li>
          <li>Términos y Condiciones</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 Libroteka. Todos los derechos reservados.
  </div>
</footer>
 