<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <div class="brand-logo">
        <img src="assets/images/logo.png" alt="Libroteka Logo" class="footer-logo" />
      </div>
      <h2>Libroteka</h2>
      <p>Tu destino ideal para descubrir los mejores libros. Ofrecemos una amplia selección de géneros para todos los
        lectores.</p>
      <div class="social-icons">
        <a href="#"> <i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
        <a href="#"> <i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
        <a href="#"> <i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
        <a href="#"> <i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div>
        <a href="https://github.com/ISPC-TSDW/libroteka-mobile/releases/download/v1.1.0/LibrotekaApp.apk">
          <h5>Descargá nuestra APP <i class="fa-brands fa-android" aria-hidden="true"></i> </h5>
        </a>
      </div>
    </div>

    <div class="footer-links">
      <div>
        <h3>Categorías</h3>
        <ul>
          <li><a (click)="navigateToCategory('todo')">Todo</a></li>
          <li *ngFor="let genre of visibleGenres">
            <a (click)="navigateToCategory(genre.name.toLowerCase())">
              {{genre.name}}
            </a>
          </li>
          <li *ngIf="hasMoreGenres">
            <a class="show-more" (click)="toggleGenres()">
              {{ showAllGenres ? 'Mostrar menos' : 'Mostrar más' }}
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Ayuda & Soporte</h3>
        <ul>
          <li>Preguntas Frecuentes</li>
          <li>Envíos</li>
          <li>Devoluciones</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div>
        <h3>Información</h3>
        <ul>
          <li>Sobre Nosotros</li>
          <li>Política de Privacidad</li>
          <li>Términos y Condiciones</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 Libroteka. Todos los derechos reservados.
  </div>
</footer>